{{ define "footer" }}
<section class="container mx-auto">
  

  <div class="bg-blue-50 p-4 rounded-lg border border-blue-100">
    <p class="text-sm text-gray-700">
      <strong class="font-semibold text-blue-600">Pro Tip:</strong> Bookmark this page and check back often for the latest beauty discounts. Share with your friends to help them save, too!
    </p>
  </div>
</section>

    <script type="module" src="/assets/index.js"></script>
  </body>
</html>
{{ end }}
