{{ define "productcard" }}
    <div class="ui card">
        <a class="content" href="/products/{{ .ProductID }}">
            <div class="center aligned header">{{ unescape .ProductName }}</div>
            <div class="center aligned description">
                <p>{{ .Description | truncateDescription | unescape }}</p>
            </div>
        </a>
        <div class="extra content">
            <div class="center aligned">
                <img class="ui avatar image" src="{{ .Image | placeholderImage }}">
                <a href="/brands/{{ .Brand.Path }}">{{  .Brand.Name | proper | unescape }}</a>
            </div>
        </div>
    </div>
{{ end }}
