{{ define "subscriptionform" }}

<form
  class="max-w-2xl w-full h-full flex flex-col gap-2 items-center"
  hx-post="/subscribe"
  hx-trigger="submit"
>
  <div class="flex flex-col gap-2 w-full justify-center items-center">
    <div class="w-full md:w-2/3">
      <input
        type="email"
        placeholder="Email"
        name="email"
        required
        class="p-3 border border-gray-300 rounded-md flex-1 shadow-sm w-full"
      />
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex items-center justify-center gap-2 text-white">
        <input
          type="checkbox"
          id="consent"
          name="consent"
          required
          class="form-checkbox h-5 w-5 text-yellow-500"
        />
        <label for="consent" class="text-xs">
          I agree to receive email updates and promotions
        </label>
      </div>

      <div>
        <button
          type="submit"
          class="bg-yellow-500 text-white px-6 py-3 rounded-md shadow-md hover:bg-yellow-600 transition duration-300"
        >
          Subscribe
        </button>
      </div>
    </div>
  </div>
</form>
{{ end }}
