{{ define "event" }}
    <div id="event" class="border-l-2 border-orange flex w-full p-4 gap-4 mb-4 bg-white">

        <div id="label" class="block flex-shrink-0 w-14 h-auto self-stretch">
            <div class="w-full aspect-square rounded-full overflow-hidden">
                <img class="w-full h-full object-cover object-center" src="{{ .Profile.Photo }}"></div>
        </div>

        <div id="content" class="flex-1 self-stretch text-left break-words">


            <div id="summary" class="text-sm">
                <a id="user" class="font-bold">{{ .Profile.Username }}</a> {{ .Content.Summary }} <span class="text-gray-400">·</span>
                <span id="date" class="text-gray-400">{{ .Content.TimeElapsed }}</span>
            </div>


            {{ if .Content.ExtraImages }}
                <div id="extra-images" class="mt-2 bg-transparent p-0 text-black flex gap-4">
                    {{ range .Content.ExtraImages }}
                        <a><img class="w-full" src="{{ .Src }}" alt="{{ .Alt }}"></a>
                    {{ end }}                    
                </div>
            {{ end }}

            {{/* add a line break if there is both images and text */}}
            {{ if and .Content.ExtraImages .Content.ExtraText }}
                <div class="my-2"></div>
            {{ end }}


            {{ if .Content.ExtraText }}
                <div id="extra-text" class="py-1 px-0 border-none font-normal max-w-lg text-lg leading-snug">
                    {{ .Content.ExtraText }}                    
                </div>
            {{ end }}            


            <div id="meta" class="inline-block text-sm mt-2 bg-transparent border-none rounded-none shadow-none p-0 text-gray-600">
                {{ if gt .Meta.Likes 0 }}
                    <a id="like">
                        <i id="like icon">&hearts;</i> {{ .Meta.Likes }} Likes
                    </a>
                {{ end }}
                {{if .Meta.CTALink }}
                    <a id="cta-link" href="{{ .Meta.CTALink }}">
                        <i id="src-icon">&#x1f6d2;</i>
                        Shop Now
                    </a>
                {{ end }}
                {{ if .Meta.Src }}
                    <a id="data-source" href="{{ .Meta.Src }}">
                        <i id="src-icon">&#9745;</i>
                        Source
                    </a>
                {{ end }}
            </div>
        </div>
    </div> 
{{ end }}
