{{ define "footer" }}
    <script type="module" src="/assets/index.js"></script>
    {{ if eq .Env "dev" }}
      <script src="https://cdn.tailwindcss.com"></script>
    {{ end }}
  </body>
</html>

{{ end }}
