{{ define "adminposts" }}
{{ template "header" . }}

<!-- Posts Table -->
<div
  class="max-w-7xl mx-auto my-8 bg-white shadow-md rounded-lg overflow-hidden"
>
  <table class="min-w-full bg-white">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="w-1/4 px-6 py-3 text-left">Post</th>
        <th class="w-1/4 px-6 py-3 text-left">Description</th>
        <th class="w-1/8 px-6 py-3 text-left">Source URL</th>
        <th class="w-1/8 px-6 py-3 text-left">Score</th>
        <th class="w-1/8 px-6 py-3 text-center">Actions</th>
      </tr>
    </thead>
    <tbody id="post-table" class="">
      {{
        range.Posts
      }}
      <tr class="">
        <td class="px-6 py-4">
          <div class="flex items-center">
            <div>
              <p class="font-bold">Post ID: {{.ID}}</p>
              <p class="text-sm text-gray-500">{{.Timestamp.Format "2006-01-02 15:04:05"}}</p>
            </div>
          </div>
        </td>
        <td class="px-6 py-4">
          <p>{{.Description}}</p>
        </td>
        <td class="px-6 py-4">
          <a href="{{.SrcURL}}" target="_blank" class="text-blue-500 hover:underline">Source</a>
        </td>
        <td class="px-6 py-4">
          <p>{{printf "%.2f" .Score}}</p>
        </td>
        <td class="px-6 py-4 text-center flex flex-col gap-4">
          <a
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
            href="/admin/manage/posts/edit/{{.ID}}"
          >
            Edit
          </a>
          <a
            class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700"
            href="/admin/manage/posts/delete/{{.ID}}"
          >
            Delete
          </a>
        </td>
      </tr>
      {{
        end
      }}
    </tbody>
  </table>
</div>

{{ template "footer" . }}
{{ end }}
