{{ define "admindashboard" }}
{{ template "header" . }}

<!-- Events Table -->
<div
  class="max-w-7xl mx-auto my-8 bg-white shadow-md rounded-lg overflow-hidden"
>
  <table class="min-w-full bg-white">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="w-1/4 px-6 py-3 text-left">Event</th>
        <th class="w-1/2 px-6 py-3 text-left">Description</th>
        <th class="w-1/8 px-6 py-3 text-left">Extra Images</th>
        <th class="w-1/8 px-6 py-3 text-center">Actions</th>
      </tr>
    </thead>
    <tbody id="event-table" class="">
      {{
        range.Events
      }}
      <tr class="">
        <td class="px-6 py-4">
          <div class="flex items-center">
            <img
              src="{{.Profile.Photo}}"
              alt="Profile Photo"
              class="w-10 h-10 rounded-full mr-4"
            />
            <div>
              <p class="font-bold">{{.Profile.Username}}</p>
              <p>{{.Content.Summary}}</p>
              <p class="text-sm text-gray-500">{{.Content.TimeElapsed}}</p>
            </div>
          </div>
        </td>
        <td class="px-6 py-4">
          <p>{{.Content.ExtraText}}</p>
        </td>
        <td class="px-6 py-4">
          {{if .Content.ExtraImages}}
          <div class="flex space-x-2">
            {{ range.Content.ExtraImages }}
            <img
              src="{{.Src}}"
              alt="{{.Alt}}"
              class="w-32 h-32 object-cover object-center rounded-md"
            />
            {{ end }}
          </div>
          {{else}}
          <p class="text-gray-500">No extra images</p>
          {{ end }}
        </td>
        <td class="px-6 py-4 text-center flex flex-col gap-4">
          <a
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
            href="/admin/events/edit/{{.ID}}"
          >
            Edit
          </a>
          <a
            class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700"
            href="/admin/events/delete/{{.ID}}"
          >
            Delete
          </a>
        </td>
      </tr>
      {{
        end
      }}
    </tbody>
  </table>
</div>

{{ template "footer" . }}
{{ end }}
