{{ define "home" }}
    {{ template "header" . }}
    <style>


.newsletterForm .submit {
    background: linear-gradient(45deg, #fb4764, #f88d5f) no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    padding: 11px 35px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 50px;
}

.newsletterForm .input-main input {
    height: 26px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #a2a2a2;
    font-size: 1rem;
}

.newsletterForm .input-main input::placeholder {
    color: #a2a2a2;
}

.newsletterForm .input-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #ebebeb;
    border-radius: 100px;
    margin-right: 15px;
}

.newsletterForm .input-main svg {
    width: 30px;
    height: auto;
    fill: #a2a2a2;
    margin-right: 10px;
}

.newsletterForm .form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    margin-top: 39px;
}

.newsletterForm .description {
    font-size: 1.1rem;
    color: #636363;
    margin-top: 10px;
}

.newsletterForm .title {
    text-transform: uppercase;
    font-weight: 900;
    color: #4a4a4a;
}

.newsletterForm .img-head {
    width: 100%;
    height: auto;
    margin-top: 45px;
}

.newsletterForm .container {
    background-color: white;
    text-align: center;
    width: 769px;
    height: 486px;
    border-radius: 50px;
    margin: 50px auto;
}

              @media only screen and (max-width: 500px) {
                  body {
                      margin: 0 15px;
                  }
                  .newsletterForm      .img-head {
                      margin-top: 75px;
                  }
                  .newsletterForm      .form-box {
                      display: grid;
                  }
                  .newsletterForm      .input-main {
                      margin-right: 0;
                  }
                  .newsletterForm      .submit {
                      margin-top: 16px;
                  }
                  .newsletterForm      .description {
                      font-size: 1rem;
                      margin: 0 35px;
                  }
                  .newsletterForm      .title {
                      font-size: 1.5rem;
                  }
                  .newsletterForm      .form-box {
                      margin-top: 25px;
                  }

                  .newsletterForm      .container {
                      border-radius: 15px;
                      width: 100%;
                  }
              }

    </style>
        
    {{ template "subscriptionform" }}

    {{ template "footer" . }}
{{ end }}
