{{ define "home" }}
    {{ template "header" . }}

    {{/* 1. https://twitter.com/sveta_bay/status/1751905577197064647/photo/1 */}}
    {{/* 1. Hero Block */}}
    {{/* 2. Problem Agitation  */}}
    {{/* 3. Clear Solution */}}
    {{/* 4. Social Proof */}}
    {{/* 5. Desired Action */}}
    {{/* 6. Engaging Storytelling */}}

        
    {{ template "subscriptionform" }}

    {{ template "footer" . }}
{{ end }}
