{{ define "pricedata" }}
    {{ template "header" . }}
    <div class="ui container" style="padding: 20px 0">
        <img class="ui image" height="200" width="200" src="{{ .Image | placeholderImage }}"/>
        <h1>Name: {{ .Name }}</h1>
        <p><strong>Price Recorded at: {{ .Timestamp | longDate}}</strong></p>
        <div>SKU: {{.SKU }}</div>
        <div>GTIN12: {{.Gtin12 }}</div>
        <div>GTIN13: {{.Gtin13 }}</div>
        <div>GTIN14: {{.Gtin14 }}</div>
    </div> 
    {{ template "footer" . }}
{{ end }}
