{{ define "producterrors" }}
    {{template "header" . }}
        <div class="ui relaxed divided list container">
            {{ range . }}
            <div class="item">
                <div class="content">
                    <a class="header" href="/products/{{.ProductID}}">{{ .ProductName }}</a>
                    <div class="description">{{ .ErrorReason }}</div>
                </div>
            </div>
            {{ end }}
        </div>
    {{template "footer" . }}
{{ end }}
