{{ define "products" }}
    {{ template "header" . }}
    <div class="ui container" style="padding: 20px 0;">
        <div class="ui search">
            <input class="prompt" type="text" placeholder="Search For Your Product">
        </div>
    </div>
    <div class="ui container">
        <div class="ui cards">
            {{ range .Products }}
                {{ template "productcard" . }}
            {{ end }}
        </div>  
    </div>

    {{ template "pagination" .Pagination }}
    
    {{ template "footer" . }}
{{ end }}
