{{ define "subscribepage" }}
{{ template "header" . }}
<div class="flex place-content-center h-full w-full p-8">
  <div
    class="aspect-video max-w-5xl bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 p-8 rounded-lg flex justify-center items-center relative shadow-lg"
  >
    <div id="hero-subscribe-banner" class="flex flex-col gap-6 text-center">
      <div>
        <h3 class="text-3xl font-extrabold text-white">
          Stay Updated in Just 5 Minutes a Day
        </h3>
        <p class="text-white max-w-2xl mx-auto">
          Join our beauty tribe and be the first to discover the hottest deals
          and beauty secrets from top brands in Ireland. Subscribe now and never
          miss out on fabulous offers!
        </p>
      </div>
      {{ template "subscriptionform" . }}
    </div>
  </div>
</div>
{{ template "footer" . }}
{{ end }}
