{{define "updateproducts" }}
    {{ template "header" . }}
    <div class="ui container">
        <form class="ui form" action="/products/update" method="POST">
            <div class="field">
                <label for="website">Website</label>
                <select name="website">
                    <option value="">--Please choose a website--</option>
                    {{ range .Websites }}
                        <option value="{{ .WebsiteID }}">{{ .WebsiteName }}</option> 
                    {{ end }}
                </select>
            </div>
            <div class="field">
                <label for="product_urls">Product Urls</label>
                <textarea name="product_urls" id="" cols="30" rows="10"></textarea>
            </div>
            <input class="ui button" type="submit" value="Submit">
        </form>
    </div>
    {{ template "footer" . }}
{{ end }}


