{{ define "websites" }}
    {{template "header" . }}
        <div class="ui relaxed divided list container">
            {{ range .Websites }}
            <div class="item">
                <div class="content">
                    <a class="header" href="/websites/{{.WebsiteID}}">{{ .WebsiteName }}</a>
                    <div class="description">{{ .URL }}</div>
                </div>
            </div>
            {{ end }}
        </div>

    {{ template "pagination" .Pagination }}
    {{template "footer" . }}
{{ end }}
