{{ define "home" }}
    {{ template "header" . }}

    {{/* 1. https://twitter.com/sveta_bay/status/1751905577197064647/photo/1 */}}
    {{/* 1. Hero Block */}}
    {{/* 2. Problem Agitation  */}}
    {{/* 3. Clear Solution */}}
    {{/* 4. Social Proof */}}
    {{/* 5. Desired Action */}}
    {{/* 6. Engaging Storytelling */}}

    <section class="md:flex md:h-3/4 bg-l-brown">
        <div class="md:w-2/4 flex flex-col justify-center items-center py-8">
            <div class="max-w-md m-auto mx-8">
                <h1 class="text-6xl mb-8">Beauty <br> Bargains.ie</h1>
                <p>We're keeping an eye on all your favourite beauty stores for the latest deals, offers and price drops so you dont have to.</p>
                <div class="border-l-2 border-orange pl-4 mt-6">
                    {{/*<span class="block text-orange mb-4">&#9733;&#9733;&#9733;&#9733;&#9733;</span>*/}}
                    <p class="mb-4">"BeautyFeatures is doing 20% Off Kérastase, their Brand of the Month"</p>
                    <strong class="block">Sophie Devlin</strong>
                    <span class="block">Content Specialist</span>
                    <a class="py-2 px-4 my-4 bg-black text-white rounded inline-block" href="/feed">View Feed</a>
                </div>
            </div>
        </div>
        <div class="md:w-2/4 h-2/4 md:h-full">
            <img class="h-full object-left object-cover" src="https://replicate.delivery/pbxt/7HKCIPYGhqqPEZ10YnjeuYeLRkkvOokRVIpHFC47lH7vSYHTA/output_1.png" alt="">
        </div>
    </section> 


    {{/*<section class="max-w-7xl md:h-3/4 mx-auto p-8">
        <div class="md:flex md:h-full md:items-center">
            <div class="md:w-1/2 h-full flex flex-col justify-center py-8">
                <img loading="lazy" class="h-60 md:h-1/2 w-full pr-16 max-w-lg object-center object-cover z-10" src="/images/zoey-agron7625a.png" alt="">
                <div class="h-32 w-full -mt-16 max-w-lg -z-10 bg-l-brown"></div>
            </div>
            <div class="md:w-2/4 mx-8 max-w-xl m-auto">
                <span class="block">About us</span>
                <h2 class="text-6xl mb-8">Bargains For Everybody</h2>
                <p class="mb-8" >We have a range of products to treat and protect your skin including: Skin care products for the face, neck and scalp. We have a range of products to treat and protect your skin including: Skin care products for the face, neck and scalp. We have a range of products to treat and protect your skin including.
                </p>
                <p>We have a range of products to treat and protect your skin including: Skin care products for the face, neck and scalp.We have a range of products to treat and protect your skin including: Skin care products for the face, neck and scalp.</p>
            </div>
        </div>
    </section> 
*/}} 

    {{ template "footer" . }}
{{ end }}
