{{ define "subscriptionverification" }}
    {{ template "header" . }}
    <div class="ui container">
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">
                Thank you for verifying your email!
            </div>
            <p>We'll keep you up to date on offers on all your favourite brands and products!</p>
        </div>
    </div>
    {{ template "footer" . }}
{{ end }}
