{{ define "teampage" }}
    {{ template "header" . }}

   {{ range .Team }}
    <div style="padding: 2rem;">
        <img src="{{ .ProfilePhoto }}" alt="">
        <h2>{{ .Name }}</h2>
    </div>
   {{ end }}

    {{ template "footer" . }}
{{ end }}
