{{  define "website" }}
    {{ template "header" . }}
    <div class="ui container" style="padding: 20px 0;">
        <h1 class="header">{{  .Website.WebsiteName }}</h1>
        <p class="description">{{ .Website.URL }}</p>
        <p>some statistics here about how many products, how many prices recorded etc</p>
        <a class="ui button" href="/websites/edit/{{ .Website.WebsiteID }}">Edit</a>
    </div>

    <div class="ui container">
        <div class="ui cards">
            {{ range .Products }}
                {{ template "productcard" . }}
            {{  end }}
        </div> 
    </div>
    {{ template "pagination" .Pagination}}
    {{ template "footer" . }}
{{ end }}
